<!-- <% content_for(:title, "List | To Do") %> -->
<div class="navbar">
  <%= link_to "Courses", tracks_path %>
</div>

<h1><%= @track.name %></h1>

  <ul>
    <% if @track.sections.any? %>
      <% @track.sections.each do |section| %>
        <li>
          <%= section.name %>
          <% if section.lessons.any? %>
            <ul>
              <% section.lessons.each do |lesson| %>
                <li>
                  <p><%= link_to lesson.name, track_section_lesson_path(@track, section, lesson) %></p>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

section1 = Section.new
section1.name = "Angular Extended"
section1.track_id = 3
section1.save
