<!-- <% content_for(:title, "List | To Do") %> -->

<h1><%= @track.name %></h1>

  <ul>
    <% if @track.sections.any? %>
      <% @track.sections.each do |section| %>
        <li>
          <%= section.name %>
          <% if section.lessons.any? %>
            <ul>
              <% section.lessons.each do |lesson| %>
                <li>
                  <%= lesson.name %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
